$color1: #FDFDFB;
$color2: #555248;
$color3: #444240;
$color4: #1B1A17;
$color5: #8B8371;
$color6: #F7F5EF;
$color-white: #FFFFFF;
$color-black: #000000;
$container-desktop: 1171px;

* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    margin: 0 auto;
    max-width: $container-desktop;
}

.header {
    background-color: $color1;


    .header-upper__body {
        height: 85px;
        display: flex;
        justify-content: space-between;

        .header-upper__brand {
            margin-top: 31px;
        }

        .header-upper__menu {
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: $color2;
            width: 422px;
            margin-top: 35px;
            display: flex;
            justify-content: space-between;
        }

        .header-upper__buttons {
            margin-top: 35px;
            width: 99px;
            display: flex;
            justify-content: space-between;

            .header__icon {
                position: relative;

                .counter {
                    top: -8px;
                    left: 13px;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 13px;
                    height: 13px;
                    background-color: #E6C8B4;
                    font-family: 'Roboto';
                    font-weight: 400;
                    font-size: 8px;
                    line-height: 9px;
                    border-radius: 50%;
                }
            }
        }
    }

    .header-bottom__body {
        height: 768px;
        background-image: url(../img/Watch_main.png), url(../img/Ellipse.svg);
        background-repeat: no-repeat, no-repeat;
        background-position: right 100px top, right 325px top;

        .header-bottom__flex {
            display: flex;

            .header-title__stripe {
                margin: 272px 15px 0 0;
                width: 50px;
                border-top: 1px solid $color5;
            }

            .header-banner__collection {
                padding-top: 236px;

                .header-title__body {

                    .header__title {
                        width: 343px;
                        margin: 0 55px 16px 0;
                        font-family: 'Playfair Display';
                        font-weight: 400;
                        font-size: 45px;
                        line-height: 60px;
                        color: $color4;
                    }

                    .header__subtitle {
                        margin-bottom: 39px;
                        font-family: 'Playfair Display';
                        font-weight: 400;
                        font-size: 30px;
                        line-height: 40px;
                        color: $color4;
                    }
                }

                .header-subtitle__body {
                    margin-bottom: 64px;
                    width: 258px;
                    font-family: 'Roboto';
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 21px;
                    color: $color4;
                    opacity: 82%;
                }

                .header-banner__button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 205px;
                    height: 64px;
                    background-color: $color3;
                    font-family: 'Roboto';
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    color: $color-white;
                }
            }

            .header-price__body {
                margin: 138px 342px 0 0;
                width: 140px;
                height: 16px;
                display: flex;

                .header-banner__price {
                    font-family: 'Prata';
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    color: $color4;
                    margin-right: 7px;
                }

                .header-price__currency {
                    margin: 2.5px 15.5px 0 0;
                    width: 9.6px;
                    height: 13px;
                }

                .header-price__stripe {
                    margin-top: 8.5px;
                    width: 50px;
                    border-top: 1px solid $color5;
                }
            }

            .header-diameter__body {
                margin-top: 636px;
                display: flex;
                width: 187px;
                height: 16px;

                .header-banner__diameter {
                    font-family: 'Prata';
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    color: $color4;
                }

                .header-diameter__stripe {
                    margin: 10px 15px 0 0;
                    width: 50px;
                    border-top: 1px solid $color5;
                }
            }
        }
    }
}

.main {
    background-color: $color-white;

    .main-upper__body {
        padding: 79px 0 86px 0;

        .main-upper__title {
            display: flex;
            justify-content: center;
            font-family: 'Playfair Display';
            font-weight: 400;
            font-size: 32px;
            line-height: 43px;
            color: $color4;
        }

        .main-upper__button {
            width: 104px;
            height: 26.5px;
            font-family: 'Roboto';
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: $color3;
            border-bottom: 1px solid #C4C0B6;
            margin-left: auto;
        }

        .main-upper-items__body {
            display: flex;
            justify-content: space-between;
            padding-top: 25.5px;

            .main-upper__item {
                display: flex;
                justify-content: center;
                box-sizing: border-box;
                width: 370px;
                height: 467px;
                background-image: url(../img/Ellipse_item.svg);
                background-position: 28px 90px;
                background-repeat: no-repeat;
                background-color: $color1;

                .main-item__body {


                    .item__heading {
                        margin: 35px 0 0 20px;

                        .item__name {
                            margin-bottom: 10px;
                            font-family: 'Playfair Display';
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 24px;
                            letter-spacing: 0.03em;
                            color: $color4;
                            opacity: 82%;
                        }

                        .item-price__body {
                            display: flex;

                            .item__price {
                                font-family: 'Prata';
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 16px;
                                color: $color4;
                                opacity: 82%;
                            }

                            .item__currency {
                                margin: 0 0 2.5px 4px;
                            }
                        }
                    }

                    .item-details__body {
                        width: 140px;
                        display: flex;
                        margin-left: 20px;

                        .item__stripe {
                            width: 30px;
                            height: 1px;
                            border-top: 1px solid $color5;
                            margin: 11px 18px 0 0;
                        }

                        .item__details {
                            font-family: 'Playfair Display';
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 21px;
                            color: $color4;
                        }
                    }

                }
            }
        }
    }

    .main-mid-body__wrapper {
        height: 519px;
        background: url(../img/Ellipse_mid1.svg), url(../img/Elipse_mid2.svg),
            linear-gradient(to right, #F7F5EF 34%, $color1 34%);
        background-repeat: no-repeat;
        background-position: right top, right top 12px;

        .main-mid__body {
            padding-top: 52px;
            display: flex;
            justify-content: center;
            align-items: center;

            .main-mid-banner__picture {
                margin-right: 69px;
            }

            .main-mid-quality__body {
                .main-mid__title {
                    margin-bottom: 38px;
                    font-family: 'Playfair Display';
                    font-weight: 400;
                    font-size: 32px;
                    line-height: 43px;
                    color: $color4;
                }

                .main-mid__subtitle {
                    width: 376px;
                    margin-bottom: 45px;
                    font-family: 'Roboto';
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: $color3;
                }

                .main-mid__button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 205px;
                    height: 64px;
                    font-family: 'Roboto';
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0.05em;
                    color: $color-white;
                    background-color: #D4B098;
                }
            }
        }

        .mid-pagination__wrapper {
            display: flex;
            justify-content: center;

            .main-mid__pagination {
                margin: 20px 100px 0 0;
                width: 63px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .main-mid-slide__number {
                    font-family: 'Prata';
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    color: $color4;
                    opacity: 82%;
                }
            }
        }
    }

    .main-bot-body__wrapper {
        background-color: $color-white;

        .main-bot__body {
            height: 460px;
            padding: 81px 0 90px 0;
            display: flex;
            justify-content: space-between;

            .main-bot-left__body {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .main-bot-left__title {
                    width: 100%;
                    margin: 100px 0 40px 0;
                    font-family: 'Playfair Display';
                    font-weight: 400;
                    font-size: 32px;
                    line-height: 43px;
                    color: $color4;
                }

                .main-bot-left__subtitle {
                    margin-bottom: 118px;
                    width: 376px;
                    font-family: 'Roboto';
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 27px;
                    color: $color3;

                    .socials__text {
                        font-weight: 700;
                        color: #262421;
                    }
                }

                .main-bot-socials__body {
                    width: 100px;
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline
                }
            }

            .main-bot-right__body {
                width: 629px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 10px;
                grid-row-gap: 10px;
                justify-items: center;

                .main-bot-right__picture1 {
                    grid-area: 1 / 1 / 2 / 2;
                }

                .main-bot-right__picture2 {
                    grid-area: 2 / 1 / 3 / 2;
                }

                .main-bot-right__picture3 {
                    grid-area: 1 / 2 / 3 / 3;
                }
            }
        }
    }
}

.footer {
    height: 275px;
    background-color: $color3;

    .footer__body {
        display: flex;
        justify-content: space-around;

        .footer-element__body {
            .footer__logo {
                margin: 68px 0 23px 0;
            }

            .footer__heading {
                margin: 79px 0 33px 0;
                font-family: 'Roboto';
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.07em;
                text-transform: uppercase;
                color: $color-white;
            }

            .footer__text {
                margin-bottom: 15px;
                font-family: 'Roboto';
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                color: $color-white;
                opacity: 75%;
            }
        }
    }
}