$color1: #FDFDFB;
$color2: #555248;
$color3: #444240;
$color4: #1B1A17;
$container-desktop: 1171px;

* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    margin: 0 auto;
    max-width: $container-desktop;
}

.header__body {
    height: 85px;
    display: flex;
    justify-content: space-between;

    .header__brand {
        margin-top: 31px;
    }

    .header__menu {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: $color2;
        width: 422px;
        margin-top: 35px;
        display: flex;
        justify-content: space-between;
    }

    .header__buttons {
        margin-top: 35px;
        width: 99px;
        display: flex;
        justify-content: space-between;
    }
}